.stager-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  right: 2rem;
  left: 0;
  height: $toolbarHeight;

  .embed-wrapper {
    position: relative;
    flex-grow: 1;
  }
}
