.canvas-container {
  position: relative;
  flex: auto;
  height: 100%;
}

.canvas-size-selector {
  position: relative;
  flex: auto;
}

.stager-wrapper {
  position: absolute;
  top: 0;
  right: 5.5rem;
  left: 0;
  bottom: 0;

  .embed-wrapper {
    position: relative;
    flex-grow: 1;
    background: $canvas-bg;
    height: 100%;
  }
}

@import "SizeSelector";