
.form-settings__timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -1rem;
}

.form-settings__time {
  width: 45%;

  .time-input {
    width: 100%;
  }
  label {
    margin-bottom: 0;
    font-size: 0.7em;
  }
  input {
    margin-top: 0;
  }
}

@media screen and (max-width: 980px) {
  .form-settings__time {
    width: 100%;

    &:first-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 980px) and (max-width: 1337px) {
  .form-settings__time {
    width: 40%;
  }
}
