.input-time-start,
.input-loop-start,
.input-loop-end {
  width: 30%;
  display: flex;
  flex-direction: column;

  & label {
    font-size: $defaultFontSize;
    text-align: left;
    line-height: $defaultLineHeight;
  }

  &:hover input {
    border: 0.055rem solid $secondary-color;
  }
}

.input-loop-start,
.input-loop-end {
  display: inline-flex;
}

.input-loop-end {
  margin-left: 2rem;
}

.slider-container {
  & label {
    font-size: $defaultFontSize;
    text-align: left;
  }
}

.select-loop {
  margin-top: 2rem;
}

@media screen and (max-width: $lg) {
  .input-time-start,
  .input-loop-start,
  .input-loop-end {
    width: 100%;
  }

  .input-loop-end {
    margin-top: 1rem;
    margin-left: 0;
  }
}

