.input-time-start, .input-loop-start, .input-loop-end {
  width: 35%;
  display: flex;
  flex-direction: column;

  & label {
    font-size: $small;
    text-align: left;
  }

  &:hover input {
    border: 0.055rem solid $secondary-color;
  }
}

.input-loop-start, .input-loop-end {
  width: 100%;
}

.slider-container {
  margin-top: 2rem;

  & label {
    font-size: $small;
    text-align: left;
  }
}

.select-loop {
  margin-top: 2rem;
}
