[submodule "modules/rendiv"]
	path = modules/rendiv
	url = https://github.com/deangilmoreremix/rendiv.git
[submodule "modules/LTX-Desktop"]
	path = modules/LTX-Desktop
	url = https://github.com/deangilmoreremix/LTX-Desktop.git
[submodule "modules/chatvideo-yucut"]
	path = modules/chatvideo-yucut
	url = https://github.com/laozuzhen/chatvideo-yucut.git
