@mixin input-placeholder() {
  &::-webkit-input-placeholder {
    color: $white;
    font: 0.875rem $font-primary;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $white;
    font: 0.875rem $font-primary;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $white;
    font: 0.875rem $font-primary;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: $white;
    font: 0.875rem $font-primary;
    opacity: 1;
  }
}