@mixin input-placeholder() {
  &::-webkit-input-placeholder {
    color: $white;
    font: $defaultFontSize $font-primary;
    opacity: $placeholderOpacity;
  }
  &::-moz-placeholder {
    color: $white;
    font: $defaultFontSize $font-primary;
    opacity: $placeholderOpacity;
  }
  &:-ms-input-placeholder {
    color: $white;
    font: $defaultFontSize $font-primary;
    opacity: $placeholderOpacity;
  }
  &:-moz-placeholder {
    color: $white;
    font: $defaultFontSize $font-primary;
    opacity: $placeholderOpacity;
  }
}
