@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-centered-row {
  @include flex-centered;

  flex-flow: row;
}

@mixin flex-centered-column {
  @include flex-centered;

  flex-flow: column;
}
