// Thin scrollbars styling

@mixin tiny-scrollbar($thumbHeight: auto, $thumbColor: $thumbColor, $thumbHover: $thumbColor, $scrollbarColor:  $scrollbarColor) {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    height: $thumbHeight;
    border-radius: 7px;
    background-color: $thumbColor;
    transition: all 0.25s ease;

    &:hover {
      background-color: $thumbHover;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background-color: $scrollbarColor;
  }
}
