.construction-container {
  .active {
    border: $secondary-color solid 0.5px;

    .resize-handle {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $white;
      border: $secondary-color solid 0.5px;
    }
  }
}
