.animation-container {
  position: relative;
  width: 31.75rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  background: $light-twinlight;
  overflow: hidden;
  padding: 1.3rem 2.6rem 1.7rem 2.7rem;

  &__title {
    margin-bottom: 2.4em;
    font-size: 0.875em;
    color: $white;
    font-weight: bold;
  }
}

.animation-blocks {
  @include tiny-scrollbar($thumbColor: $thumbColor, $scrollbarColor: $scrollbarColor);
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  overflow-y: auto;
  padding-right: 2.25rem;
  margin: 0 -1%;
}

.animation-block {
  width: 31.3%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 2%;
  margin-bottom: 0.5rem;
  overflow: hidden;
  background: $scrollbarColor;
}

.animation__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: context-menu;
  z-index: 1;
  margin: 0;
}

.animation__title {
  color: $white;
  font-size: 0.93rem;
}

.animation__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}