.gif-items {
  @include tiny-scrollbar;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: hidden;

  @import "/common/library/AudioLibrary";
}

.gif-library {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 31.75rem;
  height: $toolbarHeight - 5vh;
  background: $light-twinlight;
  z-index: 1;
  color: $white;
  overflow: hidden;
  transition: 0.3s all;

  &-wrapper {
    padding-right: 2rem;
    padding-left: 1rem;
  }

  &-search {
    width: 85%;
    display: block;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid $secondary-color;
    padding: 0.3rem 0;
    color: $white;
    margin-left: 1rem;
    margin-bottom: 0.7rem;

    &:focus ~ .library__placeholder {
      display: none;
    }
  }

  &-items {
    @include tiny-scrollbar;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;

    //@import "/common/library/AudioLibrary";
  }

  .text-input {
    width: 15rem;
    height: 3.5rem;
    font-size: 0.9em;
    font-family: $font-primary;


    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-family: $font-primary;
      font-size: 0.9em;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-family: $font-primary;
      font-size: 0.9em;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-family: $font-primary;
      font-size: 0.9em;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-family: $font-primary;
      font-size: 0.9em;
    }
  }


  &-header {
    width: 100%;
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: $scrollbarColor;
    color: $secondary-color;
    padding: 0 10px;
  }

  &-grid-body {
    height: calc(100% - 2.1rem);
    overflow: hidden;
    max-width: 70%;
  }
}
