.header {
  &-container {
    height: 3em;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: $light-twinlight;

    .container-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .container-left-bar {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;

        .container-nav {
          width: 30%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.header-menu {

  ul {
    border: 1px solid $white;
    color: $white;
  }
  ul li:hover {
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
  }
}
