.main {
  .controls {
    padding-top: $menu-height;
  }
}
.home {
  background: $dark-twinlight;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  color: $white;

  .controls {
    width: 96vw;
  }
}

.home__center {
  position: relative;
  padding: 0.5rem;
}
