.main {
  .controls {
    padding-top: $menu-height;
  }

  .controls-block {
    min-width: 105px;
    z-index: 10;
  }
  .controls-block-library {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.home {
  display: flex;
  flex-direction: column;
  background: $dark-twinlight;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  color: $white;

  .controls {
    flex: 1;
    flex-wrap: nowrap;
    width: 96vw;
  }

  .hover-loading {
    position: absolute;
    z-index: 10001;
    opacity: 0.6;
    background: $dark-twinlight;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hidden {
    display: none;
  }
}

.disabled {
  pointer-events: none;
}

.home__center {
  position: relative;
  padding: 1.3rem 0 0.5rem 1rem;
  flex: 1 !important;
  max-width: none !important;
}

div.big-window {
  height: $toolbarHeight-big;
}
