.library-layout {
  max-width: 31.75rem;
  height: 24rem;
  background: $light-twinlight;
  padding: 1.31rem 2.62rem 1.75rem 1.56rem;
  box-sizing: border-box;
  font-family: $font-primary;
  color: #fff;
  position: relative;
  z-index: 1;

  * {
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 1;
    color: #fff;
  }

  button {
    outline: none;
    background: none;
    cursor: pointer;
  }
}

.library-layout__title {
  font-weight: bold;
  margin-bottom: 1em;
}


.library-layout__row {
  display: flex;

  &-first {
    align-items: flex-end;
    margin-bottom: 1.18em;
  }

  &>div:first-child {width: 151.5px}
  &>div:last-child {flex: 1}
}

// library-layout__add
.library-layout__add {
  width: 8.88em;
  border: 1px solid $red;
  border-radius: 4px;
  padding: 0.67em 0;
}

// library-layout__block-search
.library-layout__block-search {
  position: relative;
}

// library-layout__search
.library-layout__search {
  width: 100%;
  display: block;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid $red;
  padding: 4.5px 0;

  &+label {
    position: absolute;
    bottom: 4.5px;
    left: 0;
    font-size: 0.7em;

    span {
      font-size: 0.7em;
      color: $red;
    }
  }
}


.library-layout__btns {
  max-width: 123px;
  max-height: 200px;
  margin-top: 40px;
  overflow: hidden;
  overflow-y: auto;
  @include tiny-scrollbar($thumbColor: #EB5054, $scrollbarColor: #3E3E51);
}

.library-layout__btn {
  display: flex;
  align-items: center;
  max-width: 114px;
  padding-left: 26px;
  margin-bottom: 12.5px;
  position: relative;
  border: none;

  svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 16.5px;
    max-height: 12.3px;
  }

  p {
    margin-bottom: 0;
  }

  &-active {
    path {fill: $red;}
    p {color: $red;}
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// ===== library-layout__images =====
.library-layout__images {
  height: 261px;
  width: 288px;
  overflow: hidden;
  overflow-y: auto;
  @include tiny-scrollbar($thumbColor: $thumbColor, $scrollbarColor: $scrollbarColor);

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.library-layout__image {
  width: 78px;
  height: 79px;
  position: relative;
  overflow: hidden;
  background-color: $canvas-bg;
  margin-right: 9px;
  margin-bottom: 9px;
  float: left;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 100%;
    max-height: 100%;
  }
}