.media-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 3rem 5rem 3.5rem;
  max-height: 24.7rem;
}
