.presets {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 31.75rem;
  height: 53vh;
  background: $light-twinlight;
  z-index: 1;
  font-size: 0.875rem;
  line-height: 1;
  color: $white;
  overflow: hidden;
  padding-bottom: 1rem;
  transition: 0.3s all;

  &__body {
    max-height: 100%;
    flex: 1;
    padding: 1.43rem 2.6rem 1.68rem 1.75rem;
  }
}
