.timeline {
  position: relative;
  height: $timeline-height-closed;
  background-color: $light-twinlight;
  width: 100%;
  transition: 0.3s all;
  z-index: 15;

  &-open {
    height: $timeline-height;
  }

  .timeline-slider {
    .MuiSlider-track, .MuiSlider-rail {
      height: 3px;
    }
  }
}

.layers {
  @include tiny-scrollbar;
  width: 100%;
  display: flex;
  position: relative;
  margin: $layer-height auto;
  height: 142px;
  margin-top: 29px;
}

.layers-settings {
  margin-bottom: 0;

  .layer {
    padding: 0 0;
    background-color: $layer-color;
    font-size: $defaultFontSize;
    border: 1px solid $btn-gray;
    border-bottom: none;
    height: $layer-height;

    &:last-of-type {
      border: 1px solid $btn-gray;
    }
  }
  .pen-icon {
    width: 2em;
    display: flex;
  }

  .reset-input {
    @include reset-button;
    max-width: 100%;
    color: $white;
    font-size: $smallFontSize;
  }
}

.popcorn-element {
  width: 100%;
  height: 100%;
  outline: none;
  overflow: hidden;

  &.icon-element {
    .inner-wrapper {
      &.video-transition {
        position: absolute;
        top: calc(50% - 2px);
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
        width: 2.4rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.popcorn-social,
      &.popcorn-pausePlugin-end,
      &.popcorn-pausePlugin,
      &.popcorn-loopPlugin,
      &.popcorn-loopPlugin-end,
      &.popcorn-timeline-icon {
        width: 1rem;
        min-width: 1rem;
        height: auto;
        margin: auto 0.2rem;
      }

      &.popcorn-overlay {
        width: 1rem;
        min-width: 1rem;
        height: auto;
        margin: auto 0.2rem;
      }

      &.popcorn-timeline-icon {
        path {
          stroke: none;
        }
      }
    }

    .icon-btn {
      width: 100%;

      &--inline {
        width: 100%;
      }
    }
  }

  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

div.popcorn-element-personalized-voice {
  justify-content: center;

  & + .react-resizable-handle {
    display: none;
  }
}

.popcorn-pausePlugin-element,
.popcorn-loopPlugin-element,
.popcorn-skip-element,
.popcorn-googlemap-element,
.popcorn-json-transition-element,
.popcorn-social-element,
.popcorn-sequencer-element {
  justify-content: space-between;
}

.elements {
  position: relative;
  width: 100%;

  .elements-grid {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    .element-row {
      height: $layer-height;
      border-bottom: none !important;
      border-top: 0.5px solid #4D4D4D !important;
      border-right: 0.5px solid #4D4D4D !important;
      border-left: none !important;

      &:last-of-type {
        border-bottom: 0.5px solid #4D4D4D !important;
      }
    }
  }

  .popcorn-element-name {
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-top: none;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .popcorn-element-text {
    outline: none;
  }

  .popcorn-element {
    border: none;
    align-items: center;
    flex-wrap: nowrap;
  }

  .popcorn-element-part {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    height: $layer-height - 1px;

    button {
      line-height: 0.8rem;
      border: none;
      margin-right: 2px;
    }
  }

  .in-animation-element {
    background-color: $inColor;
    border: 1px solid $secondary-color;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .idle-animation-element {
    background-color: $idleColor;
    border: 1px solid $secondary-color;
  }

  .out-animation-element {
    background-color: $outColor;
    border: 1px solid $secondary-color;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .layout {
    position: relative;
    transition: height 200ms ease;
    z-index: 2;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
    border-radius: 5px;
    background-color: $fourth-color;
    border: 0.5px solid $secondary-color;
    font-size: $smallFontSize;

    &.selected {
      background-color: $secondary-color;
    }
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }

  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }

  .react-grid-item.react-grid-placeholder {
    background: $secondary-color;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
  }

  .timeline-grid-item {
    &.video-transition {
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      z-index: 1;

      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        width: 0.2rem;
        background: $fourth-color;
        border-top: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }
    }
  }
}

.timeline__btns {
  height: 100%;
  padding-left: 17px;
  padding-right: 20px;

  button {
    margin-right: 10px;
  }
}

.timeline-play,
.timeline-add {
  width: 21px;
  height: 21px;
  transition: 0.3s all;
}
.play-time {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 2.5rem;
  left: 47%;
  background-color: $light-twinlight;
  border-radius: 4px;

  .time-current, .time-total {
    font-size: $defaultFontSize;
  }

  .time-current {
    margin-left: 0.5rem;
    width: 3em;
  }

  .time-total {
    width: 55%;
    padding: 0;
    border: none;

    div {
      padding: 0;
      margin-left: 0.5rem;
      width: 4rem;
      min-height: 1.5rem;
      height: 1.5rem;
      border: none;
      background-color: transparent;
      &:hover {
        border: none;
        background-color: transparent;
      }
    }

    input {
      font-size: $defaultFontSize;
      padding:0;
      border: none;
    }
  }

  .time-separator {
    left: 0.6em;
    position: relative;
    top: 0.1em;
  }
}

.timeline-play:disabled {
  opacity: 0.5;
}

.timeline-slider {
  color: $modal-header-bg !important;

  .MuiSlider-thumb {
    color: $red;

    &:hover {
      box-shadow: none;
    }

    &:before {
      content: '';
      width: 1px;
      height: 12rem;
      background-color: $red;
      position: absolute;
      top: 13px;
      z-index: 3;
    }
  }

  &-hidden .MuiSlider-thumb {
    &:before {
      content: none;
    }
  }
}

.timeline__line-arrow,
.timeline__line-central {
  height: 1px;
  background: $modal-header-bg;
  position: relative;
}

.ruler {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 6.6px;

  svg {
    width: 100%;
    height: 6.6px;
    position: absolute;
    top: 0;
    left: 0;
    fill: $scrollbarColor;
  }
}

.timeline-arrow {
  @include reset-button;
  width: 50px;
  height: 22px;
  position: absolute;
  top: -18px;
  left: 17px;
  background: $light-twinlight;
  border-radius: 4px;
  overflow: hidden;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid $white;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%) rotate(-135deg);
    transition: 0.3s all;
  }

  &-open:before {
    top: 2px;
    transform: translateX(-50%) rotate(45deg);
  }
}

