.modal {
  &-content {
    background: $light-twinlight;
    color: $white;
  }

  &-header {
    background: $modal-header-bg;
  }
}

@import "SocialCampaignModal";
@import "RetargetOptInModal";
@import "SaveProjectModal";
@import "SaveStickerModal";
