.modal {
  &-content {
    background: $light-twinlight;
    color: $white;
  }

  &-header {
    background: $modal-header-bg;
  }
}

@import "VideoPlayerModal";
@import "SocialCampaignModal";
@import "RetargetOptInModal";
@import "SaveProjectModal";
@import "RecorderModal";
@import "ImageCropperModal";
@import "TemplateGenerator";
@import "TuiImageEditorModal";
@import "ViewProjectWindow";
@import "VoiceModal";

@import "social/LinkedinPost";
@import "social/Facebook";
