.advance-editor-modal {
  // width: 80vw;
  // width: 100%;
  // height: 85vh;
  // padding: 5px;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.color-btn {
  padding: 1rem;
  border-radius: 5px;
  margin: 5px !important;
  border: none;
  background: none;
}

.cartoon-container {
  margin-right: 5px !important;
  border-radius: 0px;
  cursor: pointer;
  height: 42px;
  display: inline-block;
  width: 40px;
}

.carton-avatar {
  width: 40px;
  height: 40px;
  margin: 0px;
  border-radius: 5px;
}

.carton-active {
  border-radius: 5px;
  margin-right: 5px !important;
  margin-left: 5px !important;
  cursor: pointer;
  height: 44px;
  display: inline-block;
  width: 44px;
  background-color: #EB5054;
  border: 2px solid #EB5054;
}

.carton-active .carton-avatar {
  margin: 0px !important;
}

.input-editor {
  border: none;
}



.advance-editor-modal-content {
  margin-top: 3rem;
  width: 100%;
  display: flex;
}

.text-center {
  text-align: center;
  margin-top: 10px;
}

.content-container {
  width: 75%;
}

.content-container-bgdeffusion {
  width: 50%;

}

.active-style-senario {
  background-color: #EB5054;
}

.btn-padding {
  width: 460px !important
}

.inspiration-button {
  position: absolute !important;
  top: 200px;
  right: 10px;
  background-color: #EB5054 !important;
  color: #fff !important;
}

.full-width-container {
  width: 100%;
  background-color: #17171C !important;
}

.size-container {
  & button {
    min-width: auto;
    background: #3E3E51;

    &:focus {
      background-color: #eb5054;
      /* Change the background color on focus */
    }
  }

  .MuiTabs-flexContainer {
    justify-content: space-around;
  }

}

.style-container {
  padding: 10px;
  height: 67%;
  overflow: auto;
  border-radius: 10px;
  border: 1px solid #575773;
  background: #17171C;

  .style-button-container {
    margin-bottom: 10px;
    gap: 10px;
    display: flex;

    &>button {
      padding: 10px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #575773;
    }

    &>button:first-child {
      background-color: #EB5054;
    }

    &>button:nth-child(2) {
      background-color: transparent;
    }


  }
}

.download-container-bgdeffusion {
  width: 50%;
}

.download-container {
  width: 25%;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.toolip-root {
  z-index: 999999 !important;
}

.original-image-container {
  // margin-right: 3rem;
  width: 50%;
  position: relative;
}

.result-image-container {
  // margin-right: 3rem;
  width: 50%;

}

.download-button {
  display: block;
  margin: auto;
  width: 70% !important;
}

.ai-art-generator {
  height: calc(100vh - 420px);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
  grid-gap: 11px;

  &>div {
    cursor: pointer;

    &>img {
      border-radius: 5px;
    }
  }

  .active-style {
    border: 2px solid #EB5054,
  }
}

.editor-image-bgdeffusion {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 15px;
}

.editor-image {
  object-fit: cover;
  height: 70%;
  width: 70%;
  border-radius: 15px;
}

.passport-image {
  margin-right: 10px;
}

.tabs {
  margin: 0;
  padding: 0;
}


.tab-header {
  list-style: none;
  background-color: #313142;
  padding: 1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tablist {
  display: inline;
  border-radius: 10px;
  line-height: 50px;
  background-color: #373A4A;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.tabButton {
  background-color: #373A4A;
  color: #fff;
  border-radius: 10px;
  line-height: 50px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
  overflow-wrap: break-word;
  border: none;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  display: inline-block;
  font-size: 12px;
}


.svg-icon {
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 14px;
  fill: #EB5054;
  stroke: #EB5054;

}

.svg-icon2 {
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 14px;
  fill: #B8BECD;
  stroke: #B8BECD;
}

.tab-header .tabButton.active,
.tab-header .tabButton:hover {
  color: #EB5054;
  background-color: #2C2F3D;
  border: 1px solid #57595E;
  box-shadow: #2C2F3D;
  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right,
      #EB5054,
      #EB5054);
  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right,
      #EB5054,
      #EB5054);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

errorText {
  font-size: 5px;
  margin: 0px;
  margin-bottom: 0px;
}


.progressState {
  margin-top: 10rem;
  padding-right: 5rem;
  padding-left: 5rem;


}