
.advance-editor-modal {
  // width: 80vw;
  width: 100%;
  // height: 85vh;
  padding: 5px;
}

.text-header {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $white;
}


.header {
  height: 45px;
  line-height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  background: rgba(221, 221, 221, 0.92);
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // padding-left: 60px;
}


.tab-header {
  list-style: none;
  border-radius: 50px;
  line-height: 25px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-header li {
  display: inline;
  padding: 7px 12px;
  border-radius: 36px;
  line-height: 35px;
  cursor: pointer;
}

.tab-header li.active,
.tab-header li:hover {
  background: #EB5054; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #EB5054,
    #EB5054
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #EB5054,
    #EB5054
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.color-btn {
 padding: 1rem;
 border-radius: 5px;
//  margin-right: 10px;
 margin: 5px !important;
 border: none;
 background: none;
//  color: ;
// outline: none;
}

.cartoon-container {
  margin-right: 10px;
  border-radius: 0px;
  cursor: pointer;
  height: 42px;
  display: inline-block;
  width: 40px;
}
.carton-avatar {
  width: 40px;
  height: 40px;
  margin: 0px;
  border-radius: 5px;
}

.input-editor {
  border: none;
}

.advance-editor-modal-content {
  margin-top: 3rem;
  width: 100%;
  display: flex;
}



.content-container {
  width: 75%;
}

.download-container {
  width: 25%;
}


.original-image-container {
  margin-right: 3rem;
  width: 50%;
}
.result-image-container {
  margin-right: 3rem;
  width: 50%;

}

.editor-image {
  object-fit: cover;
  height: 70%;
  width: 70%;
  border-radius: 15px;
}

.passport-image {
  margin-right: 10px;
  }







