
.advance-editor-modal {
  // width: 80vw;
  // width: 100%;
  // height: 85vh;
  // padding: 5px;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}


.color-btn {
 padding: 1rem;
 border-radius: 5px;
 margin: 5px !important;
 border: none;
 background: none;
}

.cartoon-container {
  margin-right: 10px;
  border-radius: 0px;
  cursor: pointer;
  height: 42px;
  display: inline-block;
  width: 40px;
}
.carton-avatar {
  width: 40px;
  height: 40px;
  margin: 0px;
  border-radius: 5px;
}

.input-editor {
  border: none;
}

.advance-editor-modal-content {
  margin-top: 3rem;
  width: 100%;
  display: flex;
}



.content-container {
  width: 75%;
}

.download-container {
  width: 25%;
}


.original-image-container {
  // margin-right: 3rem;
  width: 50%;
}
.result-image-container {
  // margin-right: 3rem;
  width: 50%;

}

.editor-image {
  object-fit: cover;
  height: 70%;
  width: 70%;
  border-radius: 15px;
}

.passport-image {
  margin-right: 10px;
}

.tabs {
  margin: 0;
  padding: 0;
}


.tab-header {
  list-style: none;
  background-color: #313142;
  padding: 1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tablist   {
  display: inline;
  border-radius: 10px;
  line-height: 50px;
  background-color: #373A4A;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.tabButton {
  background-color: #373A4A;
  color: #fff;
  border-radius: 10px;
  line-height: 50px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
  overflow-wrap: break-word;
  border: none;
  text-align: center;
  margin:  0 auto;
  padding: 5px;
  display: inline-block;
  font-size: 12px;

}




.svg-icon {
  width: 25px !important;
  height:25px !important;
  text-align: center;
  margin:  0 auto;
  padding-top: 10px;
  font-size: 14px;
}

.svg-icon.active,
.svg-icon.hover {
  fill: #EB5054 ;
  fill: #EB5054; /* fallback for old browsers */
  fill: -webkit-linear-gradient(
    to right,
    #EB5054,
    #EB5054
  ); /* Chrome 10-25, Safari 5.1-6 */
  fill: linear-gradient(
    to right,
    #EB5054,
    #EB5054
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.tab-header .tabButton.active,
.tab-header .tabButton:hover {
  color: #EB5054; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #EB5054,
    #EB5054
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #EB5054,
    #EB5054
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}









