.niche-scripts-preview-modal {
  background: $dark-twinlight !important;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2rem !important;
  width: 31.25vw;
  height: 37.038vh;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 20px;
    height: 15px;
  }

  &__button {
    @include reset-button;
    border: 1px solid #EB5054;
    box-sizing: border-box;
    border-radius: 3px;
    text-transform: uppercase;
    color: $white;
    width: 31%;
    height: 11.5%;
  }

  span {
    color: $produce-title;
  }
}

@media screen and (max-width: $xxl) {
  .niche-scripts-preview-modal__button {
    font-size: 12px;
    height: calc(11.5% + 0.5rem);
  }
}
