.image-editor-modal {
  width: 80vw;
  height: 85vh;
}

.pixo-image-loading,
.pixo-image-editor {
  width: 100%;
  height: 100%;
}

.pixo-image-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $xxl) {
  .image-editor-modal {
    width: 83vw;
    height: 83vh;
  }
}
