.preview-media-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: .5rem;
  background: #0F0F13;
  border-radius: 5px;

  .preview-video-player-container {
    width: 100%;
    height: 100%;
  }

  .preview-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .preview-image {
    height: 75vH;
  }

  .preview-video-player {
    width: inherit;
    height: inherit;
  }

  .preview-video-player-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5em 0 .5em 1em;
    width: 100%;

    span {
      font-size: 18px;
    }
  }

  .preview-video-buttons-container {
    position: relative;
    margin-top: .5rem;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .preview-video-button {
    background: $secondary-color;
    border: 0 none;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 7.8rem;
    height: 2.18rem;
    margin: 0 .5rem;
    font-size: 0.875rem;
    color: #ffffff;
    border-radius: 5px;

    &-hidden {
      @extend .preview-video-button;
      opacity: 0;
      background: inherit;
      pointer-events: none;
    }

    &-cancel {
      @extend .preview-video-button;
      border: 1px solid $secondary-color;
      background: inherit;
    }
  }
}
