@import "Basic";

.image-settings-form {
  width: 100%;
}

@media screen and (max-width: 1320px) {
  .image-settings__block {
    flex-direction: column;

    .image-settings__field:last-child {
      margin-bottom: 1.25rem;
    }
  }

  .image-settings__cell--first,
  .image-settings__cell--second,
  .image-settings__btn--block {
    width: 100%;
  }

  .image-settings__btn {
    flex: 1;
  }

  .image-settings__time {
    width: 100%;
    margin-bottom: 1.25rem;
    line-height: 1;
  }

  .image-settings__rotation {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .image-settings__btn--block {
    display: block;
  }

  .image-settings__btn--block p, .image-settings__btn--block a {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .image-settings__btn {
    width: 100%;
  }

  .image-settings__rotation {
    flex-direction: column;
    align-items: flex-start;

    .form-angle-label {
      margin-right: 0;
      margin-bottom: 0.5rem;
      font-size: 14px;
    }
  }

  .image-settings__checkbox .form-control-label {
    font-size: 14px;
  }
}
