.item-retarget-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2em;
  background: $scrollbarColor;
  margin-top: 1em;
  margin-bottom: 1em;
  z-index: 100;
  cursor: grab;

  &-input {
    height: 100%;
  }

  .elements-container {
    display: flex;
    margin: 3px 0;

    .item-form {
      margin-right: 5px;
    }
  }

  .retarget-remove {
    position: relative;
  }
    @media (max-width: 1377px) {
      .item-form {
        width: 45%;
      }
      .select-element {
        min-width: 7rem;
      }
    }
}

.addfield-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  &-button {
    background: $secondary-color;
    border: none;
    border-radius: 3px;
    padding: 0.1em 0.3em;
    color: $white;
    font-size: $defaultFontSize;
    height: 2.174rem;
    padding: 0 24px;
  }
}

.input-field-conatainer {
  margin-bottom: 1em;
}

@media screen and (max-width: $xxl) {
  .item-retarget-container {
    flex-direction: column;
    align-items: flex-start;

    & > * + * {
      margin-top: .5rem;
    }

    .item-form {
      width: 100%;
    }
  }

  .addfield-container-button {
    width: 100%;
  }
}
