.integrations-container {

  .download-optin-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
  }

  .webhook-container {
    margin-bottom: 1rem;
    display: flex;

    .item-form {
      flex-grow: 15;
      flex-direction: row;
      display: grid;
    }
    .item-delete {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      span {
        margin-bottom: 0.6rem;

        path {
          fill: $third-color;
        }
      }
    }
  }
}
