.color-element {
  width: 2rem;
  height: 2rem;
  float: right;
  top: -2rem;
  position: relative;
  border-radius: 0.175rem;
  border: 0.055rem solid $btn-gray;
  cursor: pointer;
  outline: none;
}

.close-color-picker:after {
  content: "\D7";
  font-size: 4.6rem;
  color: #ffffff;
  top: -1.7rem;
  position: absolute;
  left: -0.4rem;
}

.MuiFormLabel-root {
  color: $white !important;
}

.block-picker {
  position: absolute !important;
  z-index: 2;
}
