.form-control {
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.2rem;
  width: 100%;

  &:active,
  &.focus,
  &:focus {
    border-color: #ccc;
    box-shadow: none;
  }
}

label.form-control-label {
  font-size: $small;
  color: $white;;
}

.form-group {
  .col {
    margin-bottom: 0.2em;
  }
}
