.MuiRadio-root {
  color: $white;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: $secondary-color;
}

.MuiSvgIcon-root {
  font-size: 1rem;
}

.radio-button-icon {
  min-width: 1rem;
}

.radio-button-icon-svg:hover {

}

.icon-svg-checked-svg {
  border: 1px solid $secondary-color;
  padding: 5px;
  border-radius: 4px;

  & path {
    fill: $btn-gray;
  }
}
