button.color-element {
  width: 2rem;
  height: 100%;
  float: right;
  top: -2.1rem;
  position: relative;
  border-radius: 0.175rem;
  border: 0.055rem solid $btn-gray;
  cursor: pointer;
  outline: none;
}
