.select-element {
  min-width: 10rem;

  .select__control {
    background-color: $sidebr-bg;
    border: 0.055rem solid $btn-gray;
    box-shadow: none;

    &:hover {
      border: 0.055rem solid $red;
    }
  }

  .select__value-container {
    .select__placeholder {
      color: $white;
    }

    .select__single-value {
      color: $white;
    }
  }

  .select__indicators {
    .select__indicator-separator {
      display: none;
    }

    .select__dropdown-indicator {
      color: $red;

      svg {
        width: 1rem;
      }
    }
  }

  .select__menu {
    background-color: $dark-twinlight;
    margin-top: 0;

    .select__menu-list {

      .select__option {
        color: $white;
        z-index: 1;

        &:hover {
          color: $dark-twinlight;
        }
      }

      .select__option--is-focused {
        color: $dark-twinlight;
      }
    }
  }
}

label {
  &.select-label-none {
    display: none;
  }

  &.select-label-left {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 1.093rem;
  }
}

.select-label-left + .select-element {
  display: inline-block;
  margin-top: 1rem;
}

.select-label-none + .select-element {
  margin-top: 1rem;
}
