.float-left {
  display: flex;
  flex-direction: row;
}

.float-right {
  display: flex;
  flex-direction: row-reverse;
}

.MuiCheckbox-colorSecondary {
  .MuiSvgIcon-root {
    display: none;
  }
}

.MuiIconButton-colorSecondary:hover {
  background-color: transparent !important;
}

.MuiBox-root:not(:first-child) {
  height: 2.19rem;
}

.checkbox-element {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    min-width: 1em;
  }

  label.form-control-label {
    margin-bottom: 0;
  }

  .checkmark .MuiIconButton-label {
    margin: 0;
    background: inherit;
    border-color: $media-library-color;
    color: $secondary-color;
  }

  button {
    @include reset-button;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: $defaultFontSize;
    line-height: $defaultLineHeight;
    color: $white;

    span.MuiButton-label label.MuiInputLabel-root {
      text-transform: none;
    }

    .MuiTouchRipple-root {
      display: none;
    }

    &:focus {
      outline-width: 0;
    }
  }
}

.checkmark {
  &.unchecked .MuiIconButton-label {
    &:hover .MuiIconButton-label {
      &:after {
        background-color: $secondary-color;
      }
    }
  }

  &.checked .MuiIconButton-label {
    border-color: $red;

    &::after {
      background-color: $red;
      width: 0.205rem;
      height: 0.205rem;
    }

    &:hover .MuiIconButton-label {
      &:after {
        background-color: $white;
      }
    }
  }

  .MuiIconButton-label {
    width: 1.07rem;
    height: 1.07rem;
    background-color: $dark-night;
    display: inline-block;
    border: 0.055rem solid;
    border-color: $btn-gray;
    border-radius: 0.175rem;
    margin-bottom: 0.625rem;

    &:hover {
      border-color: $red;
      color: $red;
      fill: $red;
    }

    &:after {
      content: "";
      display: inline-block;
      border-radius: 50%;
      background-color: #ffffff;
      z-index: 1;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }
}
