.container-textarea .text-area {
  width: 100%;

  label {
    color: $white;
  }

  .MuiInput-root {
    &:hover, &:before, &:after {
      border: none !important;
    }
  }

  textarea {
    @include input-placeholder;
    @include tiny-scrollbar;

    &:focus+fieldset {
      border: 1px solid $third-color;
    }
  }
}

.text-area-label + .text-area {
  .MuiInputBase-root {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  legend {
    display: none;
  }
}
