button.color-element {
  width: 2rem;
  height: 100%;
  float: right;
  top: -2.19rem;
  position: relative;
  border-radius: 0.175rem;
  border: 0.055rem solid $btn-gray;
  cursor: pointer;
  outline: none;
}

.color-reset-button {
  @include reset-button;
  width: 100%;
  height: 2.17rem;
  background: $secondary-color;
  font-size: 0.875rem;
  color: $white;
  border-radius: 0.218rem;
  margin-top: 1rem;
}
