.multiple-select-container {
  display: flex;
  align-items: center;

  .multiple-select-label {
    font-size: 0.875rem;
    min-width: 5.6rem;
  }

  .multiple-select {
    margin-bottom: 1rem;
    flex: 1;

    .css-yk16xz-control, .css-1pahdxg-control {
      background-color: transparent;
    }
    .multiple__control {
      border: 0.055rem solid $border-grey;
      border-radius: 0.218rem;
      box-shadow: none;

      .multiple__dropdown-indicator, .multiple__clear-indicator {
        &:hover {
          color: $secondary-color;
        }
      }

      &:hover {
        border-color: $secondary-color;
      }
      .multiple__placeholder {
        font-size: 0.875rem;
      }
    }
    .multiple__control--is-focused {
      border: 1px solid $secondary-color
    }
    .multiple__control--is-disabled {
      background-color: transparent;
    }
    .multiple__multi-value {
      background-color: transparent;
      border: 1px solid $secondary-color;
      border-radius: 4px;

      .multiple__multi-value__remove {
        &:hover {
          background-color: transparent;
          color: $secondary-color;
        }
      }

      .multiple__multi-value__label {
        color: $white;
      }
    }
    .multiple__menu {
      background-color: #272735;
      z-index: 100;

      .multiple__menu-list {
        @include tiny-scrollbar;
        max-height: 10rem;

        .multiple__option--is-focused {
          background-color: $secondary-color;
        }
      }
    }
  }
}
