.context-menu {
  position: fixed;
  z-index: 100;
  background: #28283A;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);

  &__button {
    @include reset-button;
    width: 100%;
    color: $white;
    text-align: center;
    padding: 0 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: capitalize;
    transition: 0.3s color;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: $secondary-color;
    }
  }
}
