@import "Warning";
@import "Success";

.MuiSnackbar-anchorOriginBottomCenter {
  &.snackbar {
    bottom: 0;
    right: 0;
    left: 0;
    transform: none;
    justify-content: center;

    .snackbar-content {
      background: rgba(235, 80, 84, 0.8);
      width: 100%;
    }

    .icon-button-svg {
      width: 1rem;
      height: 1rem;

      path {
        stroke: none;
      }
    }

    button {
      outline: none;
    }
  }
}

