.MuiSnackbar-anchorOriginBottomCenter {
  &.warning-snackbar {
    bottom: 5px;
    right: 5px;
    left: auto;
    transform: none;
    justify-content: start;

    .snackbar-content {
      background: #FF9800;
      width: auto;
    }
  }
}
