// Colors
$dark-night: #131319;
$light-twinlight: #1C1C26;
$dark-twinlight: #17171C;
$modal-header-bg: #3E3E51;
$modal-lightdark-bg: #2D2D3C;
$modal-dark-bg: #22222F;
$panel-dark: #3A3A51;
$block-dark: #2d2d3d;
$media-library-color: #575773;

$canvas-bg: #222228;
$dropzone-bg: #222228;
$sidebr-bg: #272735;

$white: #ffffff;
$dark-white: #E4E4EC;
$red: #EB5054;
$btn-gray: #999999;
$btn-gray-disabled: #49494C;
$border-grey: #999999;
$grey: #ccc;
$btn-bg-img: #404349;

$thumbColor: #EB5054;
$scrollbarColor: #3E3E51;
$slidertrackColor: #E5E5E5;
$layer-color: #464666;
$secondary-color: #EB5054;
$third-color: #999999;
$fourth-color: #363651;
$border-color: #575773;
$btn-color: #52528E;

$background-panel: #08080A;
$background-dark: #060606;
$menu-panel: #08080A;
$menu-height: 9vh;

$backgroundSlider: #565670;

// Screen breakpoints
$xs: 450px;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1366px;
$mock: 1920px;
$xxxl: 2560px;

//animations
$inColor: #A627B1;
$idleColor: #2CB753;
$outColor: #01AACD;

//fonts
$font-primary: 'Proxima Nova', sans-serif;
$font-primary-light: 'Proxima Nova Light', sans-serif;
$font-primary-bold: 'Proxima Nova Bold', sans-serif;

//font sizes
$defaultFontSize: 0.875rem;
$smallFontSize: 0.75rem;
$xsmallFontSize: 0.625rem;
$main: 1em;

//timeline
$layer-height: 35px;
$timeline-height: 215px;
$timeline-height-closed: 41px;

//toolbar
$toolbarHeight: 56vh;
$toolbarHeight-big: 77vh;

//placeholder
$placeholderOpacity: 0.3;

$default-border: 1px solid $secondary-color;

//line-height
$defaultLineHeight: 1.0625rem;
$smallLineHeight: 0.9375rem;
$xsmallLineHeight: 0.75rem;

//buttons
$defaultHeightBtn: 2.18rem;

