// Colors
$dark-night: #131319;
$light-twinlight: #1C1C26;
$dark-twinlight: #17171C;
$white: #ffffff;
$red: #EB5054;
$btn-gray: #999999;
$btn-gray-disabled: #49494C;

// Screen breakpoints
$xs: 450px;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$mock: 1920px;
$xxl: 2560px;
