// Colors
$dark-night: #131319;
$light-twinlight: #1C1C26;
$dark-twinlight: #17171C;
$modal-header-bg: #3E3E51;

$canvas-bg: #222228;
$dropzone-bg: #222228;

$white: #ffffff;
$red: #EB5054;
$btn-gray: #999999;
$btn-gray-disabled: #49494C;
$border-grey: #888898;
$grey: #ccc;

$thumbColor: #EB5054;
$scrollbarColor: #3E3E51;
$layer-color: #464666;
$third-color: #999999;
$secondary-color: #EB5054;
$background-panel: #08080A;

// Screen breakpoints
$xs: 450px;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$mock: 1920px;
$xxl: 2560px;

//fonts
$font-primary: 'Proxima Nova', sans-serif;

//font sizes
$small: 0.8em;
$main: 1em;

//timeline
$layer-height: 35px;
