.account-baseheader {
  height: 100vh;
}

.user-panel__data-field-input:after {
  border-bottom: none !important;
}

.navigation {
  width: 100%;
  height: 20vh;
  background-color: rgba(86, 86, 112, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-blend-mode: soft-light;
  background-size: cover;

&-logo {
   width: 45px;
   height: 36px;
   cursor: pointer;
   margin-left: 13.3%;
 }

&-first-level {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding-top: 4vh;
   align-items: center;
 }

&-title {
   display: flex;
   justify-content: center;
   font-size: 3.7vh;
   line-height: 49px;
   color: $white;
   font-weight: lighter;
   padding-bottom: 10px;
 }
}

.user-bar {
  background: $panel-dark;
  padding: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
  min-width: 13.5%;
  max-width: 15%;
  margin-right: 13.3%;

.popover {
  transform: translate3d(73.2vw, 8.3vh, 0px) !important;
  width: 13.6%;
}

.MuiButton-iconSizeMedium > *:first-child {
  width: 8px;
}

.menu__open {
  width: 100%;
  padding: 6px 2px;

.MuiButton-label {
  display: flex;

.user-image-photo {
  flex-grow: 1;
.userpic {
  width: 30px;
  height: 30px;
}
}

.user-name {
  flex-grow: 9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiButton-iconSizeMedium {
  flex-grow: 1;
}
}
}

.user-name {
  color: $white;
}

.menu__list {
  background-color: #4B4B61;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

a {
  text-decoration: none;
}
}

.menu__item {
  color: $white;
  font-size: 0.875rem;
  max-width: 218px;
  text-transform: uppercase;
  text-align: left;
  height: unset;
  padding: .9rem .9rem .9rem .9rem;
}
}

.user-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50%;

  &.auto-height {
    height: calc(75vh + 3.2rem);
    align-items: center;
    padding-bottom: 0;
    justify-content: space-evenly;
  }

&__buttons-box {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 1.5rem;

&-button {
   @include reset-button;
   color: $white !important;
   width: 8rem;
   height: 2rem;
   background: $secondary-color !important;
   border-radius: 5px;
   border: none;

span {
  color: $white !important;
  text-transform: none;
}

&:disabled {
   cursor: not-allowed;
   background: inherit !important;
   border: 1px solid $secondary-color;
   opacity: 0.3;
 }
}
}

&__data {
   margin-top: 2.5rem;
   display: flex;
   width: 100%;
   flex-direction: column;

&-field {
   display: flex;
   align-items: center;
   margin: 9px 0 9px 0;

&-label {
   color: $backgroundSlider;
   display: inline-block;
   width: 30%;
   padding-right: 5%;
 }

&-input {
   border: 1px solid rgba(76, 81, 93, 0.5) !important;
   box-sizing: border-box;
   border-radius: 5px;
   padding: 5px;
   width: 22rem !important;
   background: inherit !important;
   color: $backgroundSlider;
   margin-right: 2rem;
   height: 35px;
 }

&-password {
   display: flex;
   flex-direction: column;
   align-items: flex-start;

span {
  color: $backgroundSlider;
}
}

&-link {
   @include reset-button;
   color: $secondary-color;
   cursor: pointer;
 }
}
}

&__first-level {
   height: 2vh;
   display: flex;
   justify-content: center;

&__buttons {
   margin-top: 1rem;
   width: calc(10% + 10rem);
   display: flex;
   justify-content: space-between;
   height: calc(1vh + 1.52rem);

&__tab-icon {
   margin-left: 0.25rem;

svg {
  width: calc(0.5vw + 0.3em);
  height: calc(0.5vw + 0.3em);

path {
  stroke: #9292B5;
}
}
}

.active {
  background: #505070;
}

button {
  @include reset-button;
  font-size: calc(0.5vw + 0.3em);
  height: 100%;
  color: #9292B5;
  background: rgba(58, 58, 81, 0.5);
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px 10px !important;
}
}
}

&__second-level {
   display: flex;
   flex-direction: column;
   margin: 4rem 20%;
 }

&__info-panel {
   display: flex;
   align-items: center;
   justify-content: center;

&-username {
   color: $backgroundSlider;
   line-height: 29px;
   font-size: 2.22vh;
 }
}

&__avatar {
   position: absolute;
   left: 20vw;
   top: 21.5vh;
   pointer-events: none;

&-hint {
   margin-top: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

.drop-area {
  justify-content: flex-start;
  pointer-events: all;
}
}

&-span-hint {
   font-size: 85%;
   color: #9999B4;
 }

&-custom {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5.21vw;
   background: $panel-dark;
   border-radius: 100%;
   cursor: pointer;
   min-width: 70px;
   min-height: 70px;
   pointer-events: none !important;
 }

&-upload {
   border: 1px solid rgba(76, 81, 93, 0.5);
   box-sizing: border-box;
   border-radius: 5px;
   cursor: pointer;
   padding: 5px;
   width: 46.6%;
   margin-top: 1rem;

.button-add-file__label {
  height: auto;
  border: none;
  color: $backgroundSlider;
}
}

&-icon {
svg {
  width: 30px;
  height: auto;
}
}
}
}

.password-field {
  display: flex;
  justify-content: center;
  flex-direction: column;

&-column {
   display: flex;
   align-items: center;
 }
}

.fields-dark-theme {
span {
  color: #9292B5;
}

input {
  color: $white;
}
}

.tabs-white-theme {
  background: rgba(58, 58, 81, 0.1) !important;
  color: $backgroundSlider !important;

svg path {
  stroke: $backgroundSlider !important;
}

&.active {
   background: rgba(58, 58, 81, 0.3) !important;
 }
}

.background-dark-theme {
  background: $light-twinlight;
}

.avatar-dark-theme {
  background: $secondary-color;
}

@media screen and (max-width: 1650px){
  .user-panel__info-panel-username {
    font-size: calc(2.22vh + 0.5rem);
  }
}

@media screen and (max-width: $xxl){
  .user-bar .popover {
    transform: translate3d(71.7vw, 12vh, 0px) !important;
    width: 15%;
  }

  .user-panel__second-level {
    font-size: 12px;
  }

  .user-panel__avatar {
    top: calc(21.5vh - 2rem);
  }

  .user-panel__data {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .user-panel__data-field {
    margin: 5px 0 5px 0;
  }

  .navigation-title {
    font-size: calc(3.7vh + 0.5rem);
  }
}

@media screen and (max-width: 860px){
  .user-panel__avatar {
    left: 20vw;
    top: calc(21.5vh - 1rem);
  }

  .user-panel__data-field-input {
    width: 13rem;
  }
}

@media screen and (max-width: $md){
  .user-panel__avatar {
    left: 15vw;
  }

  .user-panel__data-field-input {
    width: 8rem;
  }
}
