.container-text {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-time {
    display: flex;
    width: 50%;
  }

  &-position {
    display: flex;
  }

  .input-time-position {
    width: 40%;

    & input {
      width: 70%;
      background: $modal-lightdark-bg;
      color: $white;
      border: 0.055rem solid $btn-gray;
      text-align: center;
      padding: 4px 2px;
    }
    &:hover input {
      border: 0.055rem solid $red;
    }
  }
}

.container-personalize {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1em;
}

.container-additional-options {

  .container-link-url {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .container-email-link {
    margin-top: 2em;
    margin-bottom: 2em;

    .email-notify, .open-link {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &-label {
        line-height: 1.4;
        width: 40%;
      }

      &-input {
        width: 60%;
      }
    }
  }

  .container-text-transform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &-rotation, &-transition {
      display: flex;
      width: 37%;
      justify-content: space-between;
      align-items: center;
    }

    &-font {
      margin-top: 1em;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      & > div {
        display: flex;
        width: 47%;
        justify-content: space-between;
      }
    }
  }
}

.container-open-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;

  .MuiOutlinedInput-root:hover fieldset {
    border-color: $red;
  }

  .open-link {
    justify-content: flex-start;
  }
}

.btn-personalize, .btn-library {
  background: $red;
  color: $white;
  border: none;
  font-size: 1rem;
  padding: 4px 15px;
}
