.elements-panel {
  &-container {
    height: 100%;
  }

  &-inner-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }

  &-button {
    @include reset-button;

    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 30%;
    max-width: 135px;
    max-height: 43px;
    min-height: 43px;
    margin-left: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: $white;
    border: 1px solid $btn-gray;
    border-radius: 4px;
    transition: all 0.25s ease;
    //cursor: pointer;

    &:hover {
      border-color: $red;
    }

    &:disabled {
      border-color: $btn-gray-disabled;
    }
  }

  &-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-inline {
      min-width: 18px;
    }
  }

  &-label {
    flex: 1 0 90%;
    margin-right: auto;
    text-align: left;
  }
}
