.modal-container {
  top: 0;
  border-radius: 0;
  z-index: 1301 !important;

  .MuiPaper-root {
    background: none;
  }
}

div.modal-container__content {
  background: $sidebr-bg;
  color: $white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.modal-container__media-content {
  @extend .modal-container__content;
  background: inherit;
}

.email-campaign-modal {
  @include tiny-scrollbar;
}

.tui-image-editor-modal {
  @include tiny-scrollbar;
}

.header-tabs__title {
  line-height: 1;
  padding: 1rem;
  margin: 0;
}
.MuiDialogContent-root.template-generator-modal {
  overflow: hidden;
}
