.modal-container {
  top: 0;
  border-radius: 0;

  .MuiPaper-root {
    background: none;
  }
}

div.modal-container__content {
  background: $sidebr-bg;
  color: $white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.email-campaign-modal {
  @include tiny-scrollbar;
}

.header-tabs__title {
  line-height: 1;
  padding: 1rem;
  margin: 0;
}
