.MuiPaper-root {
  background: $background-panel !important;
}

.MuiListItemIcon-root {
  color:  $white !important;
}

.MuiDivider-root {
  background-color: $white !important;
  opacity: .2;
}

.makeStyles-list-1 {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
