.base-editor {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 31.75rem;
  height: $defaultBlockHeight;
  background: $light-twinlight;
  transition: 0.3s all;

  .base-editor-elements {
    @include tiny-scrollbar;
    overflow-x: hidden;
    flex: 1;
    padding: 1rem 1rem 1rem 1rem;
  }
}
