.header-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-tabs__item {
  @include reset-button;
  display: block;
  width: 100%;
  cursor: pointer;
  flex: 1;
  height: 2.1rem;
  text-transform: uppercase;
  background: $modal-lightdark-bg;
  color: $white;
  font-size: $defaultFontSize;

  &--active {
    background: $scrollbarColor;
    color: $secondary-color;
  }

  &:disabled {
    background: $modal-dark-bg;
  }
}

@media screen and (max-width: 860px) {
  .header-tabs {
    display: flex;
  }
}
