.toolbar {
  &-container {
    @include tiny-scrollbar;

    display: flex;
    height: 37vh;
    justify-content: center;
    padding-right: 1.89rem;
    max-height: 100%;
    overflow-y: auto;

  }

  &-tabs {
    margin-right: auto;
  }

  &-tab {
    @include reset-button;
    @include make-fluid("min-width", 75px, 90px, $xl + 1, $mock, 90px, px);
    @include make-fluid("min-height", 70px, 85px, $xl + 1, $mock, 67px, px);

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: $light-twinlight;
    color: $white;
    font-size: 0.75rem;
    border-radius: 7px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    &-icon {
      width: 100%;
      max-width: 3.58em;
      max-height: 3.08em;
      margin-bottom: 0.42em;
    }
  }
}

@import "ElementsPanel";
